{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for publication in publications.papers %}
  <div class="item">
    <div class="publication-title">{{ publication.title }}</div>
    <div class="publication-authors">{{ publication.authors }}</div>
    <div class="publication-conference">{{ publication.conference }}</div>
    {% if publication.talk %}
    <a href="{{ publication.talk }}"><i class="fas fa-tv"></i></a>
    {% endif %}
    {% if publication.paper %}
    <a href="{{ publication.paper }}"><i class="fas fa-file-pdf"></i></a>
    {% endif %}
    {% if publication.poster %}
    <a href="{{ publication.poster }}"><i class="fas fa-sticky-note"></i></a>
    {% endif %}
    {% if publication.code %}
    <a href="{{ publication.code }}"><i class="fas fa-code"></i></a>
    {% endif %}
    {% if publication.arxiv %}
    <a href="{{ publication.arxiv }}"><i class="fas fa-archive"></i></a>
    {% endif %}
    {% if publication.youtube %}
    <a href="{{ publication.youtube }}"><i class="fas fa-youtube"></i></a>
    {% endif %}
    {% if publication.shinyapp %}
    <a href="{{ publication.shinyapp }}"><i class="fas fa-chart-area"></i></a>
    {% endif %}
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
